.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Cambio de opacidad para el fondo */
  z-index: 9999; /* Añadido un índice z para asegurarse de que esté por encima de otros elementos */
}

.modal-content {
  background-color: #007bff; /* Cambio de color de fondo */
  margin: 10% auto; /* Ajuste del margen para centrar mejor el modal verticalmente */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(255, 253, 253, 0.2); /* Sombra ligera */
  max-width: 600px;
  width: 90%; /* Ancho del modal */
  color: #fff; /* Color del texto */
}

.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Estilos para el botón de cierre */
.close:hover {
  color: #fff;
}

/*Ocultar img */

.hidden {
  display: none;
}