<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digoni | Cotizador</title>
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/quotation.css" />
  </head>
  <body>
    <header class="header">
      <nav class="header-nav">
        <ul class="header-links">
          <li class="header-item">
            <a class="header-link" href="#">Inicio</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#">Cotizador</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#">Tracking</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>COTIZADOR AUTOMATICO</h1>
      <form action="" method="POST" class="quotation-form" id="quotation-form">
        <div class="ubicacion" id="frm-origen">
          <label class="quotation-form__label" for="origen"
            >¿DÓNDE TE ENCUENTRAS?</label
          >
          <select name="origen" id="origen">
            <option value="" selected>Origen</option>
            <option value="1" selected>Puente Piedra</option>
            <option value="1" selected>Los Olivos</option>
            <option value="1" selected>Comas</option>
            <option value="1" selected>Carabayllo</option>
            <option value="1" selected>Callao</option>
            <option value="1" selected>San Martín de Porres</option>
          </select>
        </div>

        <div class="ubicacion" id="frm-destino">
          <label class="quotation-form__label" for="destino"
            >¿A DÓNDE LO LLEVAMOS?</label
          >
          <select name="destino" id="destino">
            <option value="" selected>Destino</option>
            <option value="1" selected>Lima / Conococha</option>
            <option value="2" selected>Lima / Catac</option>
            <option value="3" selected>Lima / Recuay</option>
            <option value="4" selected>Lima / Chavín</option>
            <option value="5" selected>Lima / San Marcos</option>
            <option value="6" selected>Lima / Huari</option>
            <option value="7" selected>Lima / Anra</option>
            <option value="8" selected>Lima / Uco</option>
            <option value="9" selected>Sur / Ica / Pisco</option>
            <option value="10" selected>Sur / Nazca</option>
            <option value="11" selected>Sur / Marcona</option>
            <option value="12" selected>Selva Central / Oroya</option>
            <option value="13" selected>Selva Central / Tarma</option>
            <option value="14" selected>Selva Central / La Merced</option>
            <option value="15" selected>Selva Central / Satipo</option>
            <option value="16" selected>Selva Central / Mazamari</option>
            <option value="17" selected>
              Selva Central / San Martín de Pangoa
            </option>
          </select>
        </div>

        <div class="envio" id="frm-envio">
          <h2 class="quotation-form__title">¿QUÉ QUIERES ENVIAR?</h2>
          <label for="recojo-domicilio">Recojo a domicilio</label>
          <input
            type="checkbox"
            name="recojo-domicilio"
            id="recojo-domicilio"
          />
          <div class="payload-types">
            <div class="payload-type"></div>
            <div class="payload-type"></div>
            <div class="payload-type"></div>
          </div>
        </div>
        <button
          type="submit"
          class="quotation-form__submit-btn"
          id="quotation-submit"
        >
          COTIZAR
        </button>
        <div class="especificacion" id="frm-especificacion">
          <!-- Here, the specifications for the selected option above -->
        </div>
      </form>

      <section id="quotation-result" hidden>
        <h2>Resultados</h2>
        <div class="resultado">
          <p>Precio Estimado:</p>
          <p id="precio"></p>
        </div>
        <button
          form="quotation-form"
          type="reset"
          class="quotation-form__reset-btn"
          id="reset-button"
          onclick="reiniciarCalculadora()"
        >
          Calcular de nuevo
        </button>
      </section>
      <!-- 
        <label for="tipo-envio">¿LO RECOGEMOS?</label>
          <select name="tipo-envio" id="tipo-envio">
            <option value="0">No</option>
            <option value="1">Sí</option>
          </select>
       -->
    </main>
    <script src="js/quotation.js"></script>
  </body>
</html>
